<%- include ('partials/header')%>


<form id="form" action="/new" method="post">

    titre : <input name="titre" type="text">
    image  : <input name="image" type="text">
    description : <input name="description" type="text">
    date de sortie : <input name="date_de_sortie" type="text">
    plateforme : <select name="plateforme">
        <option value="PS4">PS4</option>
        <option value="PS5" selected>PS5</option>
        <option value="Xbox">Xbox</option>
        <option value="Switch">Switch</option>
        <option value="PC">PC</option>
      </select>
    note : <input name="note" type="text">

    <input type="submit">

</form>
<script >

const newGame = {
 data : document.getElementById('form'),
 titre : document.getElementById('titre'),
 image : document.getElementById('image'),
 description : document.getElementById('description'),
 date : document.getElementById('date'),
 plateforme : document.getElementById('plateforme'),
 note : document.getElementById('note'),
};

const addNewGame 



</script>

<%- include ('partials/header')%>