<%- include ('partials/header') %>

<div class="form">
<form action="" method="POST">

   <h3> S'inscrire </h3>

<p> Email : </p><input type="email" class="putit" placeholder="email@email.com" name="email">
<p>Password : </p><input type="password" class="putit" placeholder="yourpassword" name="password">

<button type="submit">Sign in</button>

</form>
</div>



<%- include ('partials/footer') %>