body{
    background-color: cornflowerblue;
}

.game{
    border: solid 4px darkblue;
    width: 25%;
    justify-content: center;
    text-align: center;
    padding: 2%;
    margin-bottom: 3%;
    background-color: darkcyan;
    border-radius: 5%;
   
}

.note{
    color: darkred;
}
.titre{
    font-size: 2em;
}
img{
    width: 85%;
    height: 60%;
    margin-bottom: 3%;
    
}

h1{
    text-align: center;
    margin :5%;
    color: blue;
}

.allgame{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
p{
    color: white;
}

.form {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    text-align: center;
    height: 40vh;
    margin:auto;
    margin-top: 17%;
    border: solid 1px white;
    background-color: white;
    border-radius: 15%;
}

input{
    width : 90%;
    height: 40px;
    margin: 3%;
    box-sizing: border-box;
    border-radius: 5%;
    border:none
}


input::placeholder{
    color : cornflowerblue ;
}

p{
    color: black;
    font-size: large;
}
button{
    margin-top: 50px;
    width: 150px;
    height: 40px;
    border-radius: 10%;
    background-color: cornflowerblue;
}
button:hover{
    background-color: red;
    transition: 0.3s;
    color: white;
}
